
    * {margin: 0;padding: 0;box-sizing: border-box;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
    body {background: #0d0d0d;color: #fff;}
    html {
  scroll-behavior: smooth;
}
   
    header {background: #0d0d0d;position: sticky;top: 0;  z-index: 1000; }
    .head-container {max-width: 1200px;width: 100%;height:15vh; margin:0 auto; display: flex;justify-content: space-between;align-items: center;padding: 20px;}
    .logo {color: #fefefe;font-size: 20px;font-weight: bold;}
    .logo .highlight{position: relative;top: 4px; display: inline-flex;;line-height: 30px; justify-content: center; align-items: center;
      height: 35px;width: 35px;border-radius: 50%;background-color: #00ff66;color: #000;font-weight: 900;font-size: 30px;line-height: 1;}
    nav ul {list-style: none;display: flex;gap: 25px;margin: 0;padding: 0;}
    nav ul li a {color: #fff;font-weight: 500;text-decoration: none;transition: 0.3s;}
    nav ul li a:hover {color: #00ff66;}


    .hero-container{max-width: 1200px;width: 100%;height: 85vh;margin: 0 auto;
      display: flex;justify-content: space-between;align-items: center;padding: 20px;}
    .hero-text {max-width: 50%;}
    .hero-text h1 {font-size: 42px;margin-bottom: 10px;}
    .hero-text h1 span {color: #00ff66;}
    .hero-text p {margin: 20px 0;color: #ccc;}
    .btn {display: inline-block;background: #17e66a;color: #ffffff;padding: 12px 25px;border-radius: 5px;font-weight: bold;transition: 0.3s;text-decoration: none;}
    .btn:hover {background: #00cc55;}
    .hero-img img {max-width: 350px;border-radius: 10px;}

    .about-container{max-width: 1200px;width: 100%;height: 100vh;margin: 0 auto;position: relative;
      display: flex;align-items: center;justify-content: space-between;
      padding: 20px;gap: 50px;}

    .about-img img {max-width: 400px; border-radius: 10px; display: block;       }
    .about-text h2 {font-size: 36px;}
    .about-text h2 span {color: #00ff66;}
    .about-text p {margin: 20px 0;color: #ccc;line-height: 1.8;}


    .services {text-align: center;padding: 80px 50px;}
    .services-container{max-width: 1200px; width: 100%;margin: 0 auto;position: relative;}
    .services h2 {font-size: 32px;margin-bottom: 20px;}
    .services h2 span {color: #00ff66;}

  .service-boxes {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;                      
  padding: 40px 20px;
}


  .service {
  flex: 1;                        
  background: #111;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;             
  transition: 0.3s;
}

  .service:hover {
  background: #1a1a1a;
}


  .service i {
  color: #fefefe;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #00cc55;
  
  display: flex;                  
  justify-content: center;
  align-items: center;

  font-size: 24px;                
  margin: 0 auto 20px auto;       
}


.service h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}


.service p {
  color: #ccc;
  margin-bottom: 20px;
}

.burger{display: none;}
@media (max-width: 1024px) {
  .hero-container,
  .about-container,
  .service-boxes {
    flex-direction: column;   
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .hero-img img {
    max-width: 250px;
  }

  .about-img img {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .service {
    margin-bottom: 20px;
  }
}


@media (max-width: 768px) {
  .head-container {
    padding: 20px;
  }

  nav {
    display: none; 
  }

 
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 40px; right: 20px;
    cursor: pointer;
  }

  .burger div {
    height: 4px;
    background: #fff;
    border-radius: 2px;
  }

 
  nav.active {
    display: block;
    position: absolute;
    top: 15vh; 
    left: 0;
    width: 100%;
    background: #0d0d0d;
    text-align: center;
    padding: 20px 0;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
  }
}
